@import '../assets/css/mixin.scss';

.appExternal{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.aextBox{
    width: 90%;
    max-width: 900px;
    //background: rgba(255,255,255,.1);
    border-radius: 30px;
    padding: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.aextLogo{
    margin-bottom: 60px;
}

.aextText{
    text-align: center;
    h1{
        font-family: var(--sfSemibold);
        font-size: 40px;
        margin-bottom: 20px;
    }
    h2{
        font-family: var(--sfLight);
        font-size: 22px;
        letter-spacing: 2px;
    }
}

.AuthCircleBackground{
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    z-index: 1;
    opacity: .75;
}

.AuthCircleBackPink{
    background: -moz-radial-gradient(center, ellipse cover, rgba(245,15,87,1) 0%, rgba(26,45,77,0) 67%, rgba(26,45,77,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(245,15,87,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    background: radial-gradient(ellipse at center, rgba(245,15,87,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    top: -500px;
    right: -500px;
}

.AuthCircleBackSkyblue{
    background: -moz-radial-gradient(center, ellipse cover, rgba(92,225,230,1) 0%, rgba(26,45,77,0) 67%, rgba(26,45,77,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(92,225,230,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    background: radial-gradient(ellipse at center, rgba(92,225,230,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    bottom: 0px;
    left: -400px;
    width: 1200px;
    opacity: .5;
}

.AuthCircleBackBlue{
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,122,255,1) 0%, rgba(26,45,77,0) 67%, rgba(26,45,77,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,122,255,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    background: radial-gradient(ellipse at center, rgba(0,122,255,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    bottom: 200px;
    width: 1200px;
    left: -600px;
    opacity: .5;
}