@import '../assets/css/mixin.scss';

.pageDetCurso{
    padding: 180px 7% 40px 13%;
    background:var(--dark-blue);
    overflow: hidden;
    @include mediaLaptop{
        padding: 180px 5% 40px 10%;
    }
    @include mediaTablet{
        padding: 170px 0% 40px 0%;
    }
    @include mediaPhone{
        padding: 150px 0% 30px 0%;
    }
    @include mediaMediumPhone{
        padding: 120px 0px 20px 0px;
    }
}


.pdcDet{
    height: auto;
    min-height: 100vh;
}

.pdcBackground{
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    pointer-events: none;
}

.circleBack{
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    z-index: 1;
    opacity: .75;
    @include mediaPhone{
        width: 700px;
        height: 700px;
        opacity: .3;
    }
}

.circlePink{
    background: -moz-radial-gradient(center, ellipse cover, rgba(245,15,87,1) 0%, rgba(26,45,77,0) 67%, rgba(26,45,77,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(245,15,87,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    background: radial-gradient(ellipse at center, rgba(245,15,87,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    top: -500px;
    right: -500px;
    @include mediaPhone{
        top: -350px;
        right: -350px;
    }
}

.circleBlue{
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,122,255,1) 0%, rgba(26,45,77,0) 67%, rgba(26,45,77,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,122,255,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    background: radial-gradient(ellipse at center, rgba(0,122,255,1) 0%,rgba(26,45,77,0) 67%,rgba(26,45,77,0) 100%);
    bottom: -300px;
    width: 1200px;
    left: -600px;
    opacity: .5;
    @include mediaPhone{
        width: 700px;
        height: 700px;
        bottom: -300px;
        opacity: .3;
        left: -300px;
    }
}

.pdcBlockMenu{
    background: var(--dark-blue);
    height: 80px !important;
    position: fixed !important;
    top: 0px;
    z-index: 1;
    left: 0px;
    @include mediaTablet{
        height: 60px !important;
    }
}

.pageDetCursoCont{
    padding: 0px 0px 0px 0px;
    position: relative;
    z-index: 3;
}

.pcdBreadDetCur{
    margin-bottom: 60px;
    a{
        color: var(--pink);
        font-size: 12px;
        font-family: var(--sfBold);
        letter-spacing: 0.5px;
        position: relative;
        padding: 0px 20px 0px 0px;
        margin: 0px 10px 0px 0px;
        &::before{
            content: '';
            width: 5px;
            height: 5px;
            border-bottom: 2px solid var(--pink);
            border-right: 2px solid var(--pink);
            position: absolute;
            transform: rotate(135deg);
            right: 0px;
            top: 3px;
        }
    }
    @include mediaTablet{
        margin-bottom: 30px;
    }
    @include mediaPhone{
        display: none !important;
        
    }
}

// Intro
.pdcIntro{
    padding: 0px 0px 40px 0px;
}

.pdcIntroBox{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include mediaTablet{
        flex-direction: column-reverse;
    }
}

.pdcIntroTitle{
    width: 50%;
    padding-right: 4%;
    @include mediaTablet{
        padding-right: 0%;
    }
    .title{
        h3{
            color: var(--blue);
            font-size: 20px;
            @include mediaPhone{
                font-size: 16px;
            }
        }
        h1{
            font-size: 40px;
            color: var(--white);
            font-weight: bold;
            @include mediaPhone{
                font-size: 32px;
            }
        }
        p{
            color: white;
            font-size: 14px;
            text-align: justify;
            @include mediaPhone{
                font-size: 12px;
                br{
                    display: none;
                }
            }
        }
    }
    .teacher{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 30px 0px 40px 0px;
        
        figure{
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
            width: 50px;
            height: 50px;
            overflow: hidden;
            img{
                display: block;
                width: 50;
                height: auto;
            }
        }
        .txt{
            width: calc( 100% - 50px );
            padding: 0px 0px 0px 15px;
            h5{
                color: var(--blue);
                font-size: 16px;
                font-weight: bold;
                margin: 0px 0px 4px 0px;
            }
            p{
                margin: 0px;
                font-size: 12px;
                text-align: justify;
                color: white;
            }
        }
        @include mediaPhone{
            margin: 20px 0px 20px 0px;
        }
    }
    .estudents{
        background: rgba(0,0,0,.15);
        padding: 15px;
        border-radius: 10px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        .item{
            padding: 0px 10px 0px 10px;
            display: flex;
            color: var(--white);
            font-size: 12px;
            align-items: center;
            img{
                width: auto;
                height: 15px;
                margin: 0px 6px 0px 0px;
            }
            &:first-child{
                background: var(--sky-blue);
                height: 20px;
                color: var(--dark-blue);
                border-radius: 5px;
                h4{
                    color: var(--white);
                    font-weight: bold;
                }
            }
        }
        @include mediaPhone{
            width: 300px;
            .item{
                font-size: 10px;
                h4{
                    font-size: 8px;
                }
            }
        }
    }
    .pcdBreadDetCur{
        display: none;
    }
    @include mediaTablet{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        .title{
            text-align: center;
        }
    }
    @include mediaPhone{
        margin-top: 20px;
        .pcdBreadDetCur{
            display: flex !important;
        }
    }
}

.pdcIntroImg{
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    img{
        display: block;
    }
    &::before{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        content: "";
        z-index: 1;
        background: rgba(0,0,0,0.4);
    }
    .play{
        position: absolute;
        z-index: 1;
        width: 48px;
        height: 48px;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
    }
    @include mediaTablet{
        width: 100%;
    }
    @include mediaPhone{
        transform: scale(1.2,1);
        border-radius: 0px;
    }
}


// Description
.pdcDescription{
    flex-wrap: wrap;
    align-items: flex-start;
    .description{
        width: calc( 100% - 300px );
        padding-right: 8%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @include mediaTablet{
            width: 100%;
            padding-right: 0px;
        }
    }
    h3{
        color: var(--white);
        font-size: 24px;
        font-family: var(--sfBold);
        @include mediaTablet{
            font-size: 20px;
        }
    }
}

.pdcdTxt{
    margin-bottom: 30px;
    h3{
        margin-bottom: 20px;
    }
    p{
        color: white;
        text-align: justify;
    }
    ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
            width: 50%;
            position: relative;
            padding: 0px 0px 0px 30px;
            margin: 10px 0px 10px 0px;
            font-family: var(--sfRegular);
            color: white;
            &::before{
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0px;
                left: 0px;
                background: url('../assets/img/det_curso_bullet.svg') center no-repeat;
                background-size: 100% auto;
            }
            @include mediaTablet{
                width: 100%;
            }
        }
    }
}



.pdcdRecomendados{
    margin-top: 35px;
}

.pdcdRecoList{
    margin: 30px 0px 30px 0px;
}

.pdcdRecoItem{
    background: rgba(255,255,255,1);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    figure{
        height: 130px;
        width: 230px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        img{
            object-fit: cover;
            display: block;
        }
    }
    .txt{
        padding: 5px 20px 5px 20px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: calc( 100% - 360px );
        h4{
            font-size: 20px;
            font-family: var(--sfBold);
            letter-spacing: 0.5px;
            color: var(--dark-blue);
        }
        small{
            color: var(--dark-blue);
            font-size: 10px;
            font-family: var(--sfRegular);
        }
        .tag{
            height: 20px;
            background: var(--pink);
            border-radius: 5px;
            padding: 0px 0px 0px 0px;
            font-size: 8px;
            display: flex;
            align-items: center;
            color: white;
            font-family: var(--sfBold);
            width: 80px;
            letter-spacing: 1px;
            justify-content: center;
            margin: 10px 0px 10px 0px;
        }
        .caract{
            display: flex;
            flex-wrap: wrap;
            .item{
                font-size: 10px;
                font-family: var(--sfRegular);
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                color:var(--dark-blue);
                flex-wrap: wrap;
                margin: 0px 10px 0px 0px;
                img{
                    height: 10px;
                    width: auto;
                    margin-right: 7px;
                }
            }
        }
    }
    .action{
        width: 130px;
        display: flex;
        align-self: flex-end;
        padding: 0px 20px 20px 0px;
        .btnBorder{
            height: 36px;
            border-radius: 36px;
            background: rgba(26,45,77,.2);
            font-family: var(--sfLight);
            letter-spacing: 1px;
            color: rgba(26,45,77,.5);
            border: 2px solid rgba(26,45,77,.3);
        }
    }
    @include mediaTablet{
        flex-direction: column;
        flex-wrap: wrap;
        figure{
            width: 100%;
        }
        .txt{
            width: 100%;
        }
        .action{
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0px 0px 20px 0px;
            margin-top: 15px;
            .btnBorder{
                width: 200px !important;
            }
        }
    }
}

.pdcdRecoBtn{
    align-items: flex-end;
    justify-content: flex-end;
    a{
        color: var(--pink);
        display: inline-block;
        font-family: var(--sfBold);
        position: relative;
        padding: 0px 20px 0px 0px;
        &::before{
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            border-bottom: 2px solid var(--pink);
            right: 0px;
            top: 5px;
            border-left: 2px solid var(--pink);
            transform: rotate(-135deg);
        }
    }
}

.pdcdValBox{
    margin-top: 30px;
    .points{
        width: 170px;
        h3{
            color: var(--white);
            font-size: 60px;
            font-family: var(--sfBold);
            display: flex;
            text-align: center;
            flex-direction: column;
            line-height: 1;
            small{
                font-size: 12px;
                letter-spacing: .5px;
                color: var(--dark-blue);
                font-family: var(--sfLight);
            }
        }
        .stars{
            margin: 10px 0px 0px 0px;
            svg{
                display: inline-block;
                width: 18px !important;
                margin: 0px 7px 0px 7px;
                height: 18px !important;
                path{
                    fill: #FF8A00;
                }
            }
        }
    }

    .status{
        width: calc( 100% - 170px );
        padding-left: 10px;
        .item{
            display: flex;
            width: 100%;
            padding: 5px 0px 5px 0px;
            align-items: center;
            justify-content: space-between;
            .line{
                width: calc( 100% - 145px );
                background: white;
                height: 6px;
                box-shadow: 0px 0px 20px 0px #dee6ee;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                span{
                    width: 90%;
                    height: 100%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    background: var(--sky-blue);
                }
            }
            .stars{
                width: 135px;
                display: flex;
                svg{
                    width: 12px;
                    height: 12px;
                    margin-left: 8px;
                    path{
                        fill: #FF8A00;
                    }
                }
                .number{
                    font-size: 14px;
                    color: var(--dark-blue);
                    padding-left: 10px;

                }
            }
        }
        .item0{
            .line{
                span{
                    width: 0%;
                }
            }
            .stars{
                svg{
                    path{
                        fill: transparent;
                    }
                }
            }
        }
    }
}


// Comentarios
.pdcdComentarios{
    margin: 40px 0px 30px 0px;
    h4{
        font-size: 16px;
        color: var(--dark-blue);
        font-family: var(--sfRegular);
        margin-bottom: 30px;
    }
}

.pdcdComentariosItem{
    flex-wrap: wrap;
    figure{
        width: 50px;
    }
    .txt{
        width: calc( 100% - 50px );
        padding: 0px 0px 0px 20px;
        h5{
            font-size: 16px;
            color: var(--dark-blue);
            font-weight: bold;
            margin-bottom: 10px;
        }
        .stars{
            display: flex;
            svg{
                width: 12px;
                height: 12px;
                margin: 0px 5px 0px 5px;
                path{
                    fill: #FF8A00;
                }
            }
            .time{
                font-size: 12px;
                color: white;
                margin-left: 5px;
            }
        }
    }
    .comend{
        display: inline-block;
        width: 100%;
        padding: 20px;
        border: 2px solid white;
        margin-top: 30px;
        border-radius: 15px;
        //background: rgba(0,0,0,.05);
        p{
            color: white;
            margin: 0px;

        }
        @include mediaTablet{
            padding: 10px;
            margin-top: 20px;
            p{
                font-size: 14px;
            }
        }
    }
}


.pdcdPost{
    .title{
        display: flex;
        width: 100%;
        justify-content: space-between;
        h4{
            font-size: 16px;
            color: var(--dark-blue);
            font-family: var(--sfRegular);
        }
        .stars{
            
            svg{
                width: 18px;
                height: 18px;
                margin: 0px 5px 0px 5px;
                display: inline-block;
            }
            path{
                fill:#FF8A00;

            }
        }

    }
    .fieldArea{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        align-items: flex-end;
        .box{
            padding: 20px;
            border: 2px solid rgba(26,45,77,.4);
            border-radius: 10px;
            background: rgba(26,45,77,.1);
            @include mediaTablet{
                padding: 15px;
            }
            p{
                color: rgba(26,45,77,.8);
                margin: 0px;
                @include mediaTablet{
                    font-size: 14px;
                }
            }
        }
        .btnBorder{
            border:2px solid var(--pink);
            color: var(--pink);
            border-radius: 38px;
            background: rgba(245,15,87,.2);
            width: 170px;
            margin-top: 20px;
        }
    }
}



// Sidebar
.pdcDescription{
    padding: 30px 0px 60px 0px;
    .sideBar{
        width: 300px ;
        background: rgba(255,255,255,1);
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,.1) ;
        flex-direction: column;
        padding: 16px 10px;
    }
    @include mediaTablet{
        flex-direction: column-reverse;
        padding: 0px 0px 30px 0px;
        .sideBar{
            width: 100%;
            margin-bottom: 40px;
        }
    }
}

.sideVideo{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    img{
        display: block;
        width: 100%;
    }
    &::before{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        content: "";
        z-index: 1;
        background: rgba(0,0,0,0.4);
    }
    .play{
        position: absolute;
        z-index: 1;
        width: 20px;
        height: 20px;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
    }
}

.btnSideLog{
    margin: 0px 0px 20px 0px;
    img{
        height: 10px;
    }
}

.btnSideLog2{
    margin: 0px 0px 20px 0px;
    background: var(--dark-blue);
    color: var(--sky-blue);
    img{
        height: 14px;
    }
}

.sideThanks{
    padding: 15px 20px 15px 20px;
    background: url('../assets/img/det_curso_thank.png') center no-repeat;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .txt{
        width: calc( 100% - 34px );
        text-align: left;
        padding-left: 15px;
        p{
            margin: 0px;
            font-size: 12px;
            font-family: var(--font1);
        }
    }
    figure{
        width: 24px;
        img{
            width: 100% ;
            margin: 10px 0px 0px 0px;
        }
    }

    a{
        border: 2px solid var(--sky-blue);
        height: 32px;
        margin-top: 10px;
        border-radius: 12px;
        background: rgba(92,225,230,.2);
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.sideDetalle{
    border:1px solid rgba(0,0,0,0.1);
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
    padding: 5px 20px 15px 20px;
    .item{
        position: relative;
        margin: 20px 0px 20px 0px;
        color: var(--dark-blue);
        font-size: 12px;
        padding: 0px 0px 0px 30px;
        font-family: var(--sfRegular);
        img{
            width: auto;
            height: 15px;
            position: absolute;
            left: 0px;
        }
    }
    .itemMinus{
        display: inline-block;
        color: var(--pink);
        font-weight: bold;
        font-size: 12px;
        margin-top: 6px;
        font-family: var(--sfBold);
        letter-spacing: 0.5px;
        position: relative;
        padding-right: 20px;
        &::before{
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            border-bottom: 2px solid var(--pink);
            right: 0px;
            top: 5px;
            border-left: 2px solid var(--pink);
            transform: rotate(135deg);
        }
    }
}

.sideImg{
    margin: 24px 0px 24px 0px;
    @include mediaTablet{
        display: none;
    }
}

.sideTeache{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 0px 0px 15px 0px;
    figure{
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        img{
            display: block;
        }
    }
    .txt{
        width: auto;
        padding: 0px 0px 0px 15px;
        h5{
            color: var(--blue);
            font-size: 16px;
            font-weight: bold;
            margin: 0px 0px 4px 0px;
        }
        p{
            margin: 0px;
            font-size: 12px;
            color: white;
        }
    }
    @include mediaPhone{
        margin: 20px 0px 20px 0px;
    }
}

.sideLinkCat{
    text-align: center;
    padding: 20px 0px 10px 0px;
    a{
        color: var(--pink);
        display: inline-block;
        font-family: var(--sfBold);
        position: relative;
        padding: 0px 20px 0px 0px;
        &::before{
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            border-bottom: 2px solid var(--pink);
            right: 0px;
            top: 5px;
            border-left: 2px solid var(--pink);
            transform: rotate(45deg);
        }
    }
}


.pdcdBanner{
    margin-bottom: 30px;
    img{
        display: block;
    }
    /*
    .resp{
        display: none;
    }
    @include mediaTablet{
        img{
            display: none;
        }
        .resp{
            display: block;
        }
    }
    */
}

.pdcdDocente{
    margin: 30px 0px 0px 0px;
    h3{
        margin-bottom: 20px;
    }
}

.pdcdDocenteBox{
    padding: 30px;
    background: rgba(0,0,0,.05);
    border-radius: 10px;
    display: flex;
    .txt{
        width: calc( 100% - 100px );
        padding: 0px 0px 0px 20px;
        h4{
            font-size: 20px;
            color: var(--blue);
            font-weight: 500;
            margin-bottom: 10px;
        }
        p{
            margin: 0px;
            text-align: justify;
            color:white ;
        }
    }
    figure{
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        //width: ;
        img{
            display: block;

        }
    }
    @include mediaPhone{
        flex-direction: column;
        padding: 20px;
        .txt{
            padding: 0px;
            width: 100%;
        }
        figure{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            img{
                width: 100px;
            }
        }
    }
}

.videoModal{
    width: 100%;
    //max-width: 500px;
    
    .MuiPaper-root{
        width: 100%;
        max-width: 800px;
        height: auto;
        overflow: visible;
        background: none !important;
        box-shadow: none;
    }
}

.videoModalBox{
    width: 100%;
    //background: black;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    @include mediaTablet{
        height: 35vh;
    }
    @include mediaPhone{
        height: 30vh;
    }
    @include mediaMediumPhone2{
        height: 24vh;
    }
    iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        border: 0px;
        top: 0px;
        border-radius: 10px;
        overflow: hidden;
    }
}

.videoClosed{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: -60px;
    cursor: pointer;
    right: 0px;
    &::before,
    &::after{
        content: '';
        width: 30px;
        height: 4px;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        background: white;
        right: 0px;
        margin: auto;
        transform: rotate(45deg);
        border-radius: 4px;
    }
    &::after{
        transform: rotate(-45deg);
    }
}


.pageDetCursoDash .pdcTemarioAcordion .MuiAccordion-root .MuiCollapse-root ul li,
.pageDetCursoDash .pdcFaqAcordion .MuiAccordion-root .MuiCollapse-root p,
.pageDetCursoDash .pdcTemarioAcordion .MuiAccordion-root .MuiButtonBase-root .MuiAccordionSummary-content h4{
    color: white !important;
}

.pageDetCursoDash .pdcFaqAcordion .MuiAccordion-root .MuiButtonBase-root .MuiAccordionSummary-content h4{
    color: var(--blue) !important;
    font-size: 16px !important;
}

.pageDetCursoDash .pdcFaqAcordion .MuiAccordion-root .MuiCollapse-root p{
    font-size: 14px;
}



.pageDetCursoDash .pdcTemarioAcordion .MuiAccordion-root{
    border: 1px solid rgba(255,255,255,.1);
}

.pageDetCursoDash .pdcFaqAcordion .MuiAccordion-root{
    border: 1px solid rgba(255,255,255,.1);
}